<p>Hi, <%= userfullname %> Here Token For Reset Password</p>
<h1> Your Shipping Detail Delivery</h1>
<p>Product Name : <%= prodname %></p>
<p>Product Price: <%= prodprice %></p>
<p>Delivery Receipt Track ID : <%= delireceipt %></p>
<p>Delivery Courier Name : <%= couriername %></p>